body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 600px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(255, 247, 218);
  color: rgb(75, 75, 75);
  font-size: 32px;
  box-shadow: 3px 3px 10px #8e8e8e;
  border-radius: 5px;
}

.items-left {
  font-style: italic;
}
