body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 600px;
}

span {
  width: 50px;
  height: 100px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(255, 247, 218);
  color: rgb(47, 47, 47);
  font-size: 32px;

  box-shadow: 5px 5px 5px #8e8e8e;
}
