body {
  position: relative;
}

.traffic-light-body {
  width: 190px;
  height: 375px;
  background-color: black;
  border-radius: 10px;
  margin-top: 90px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.traffic-light-stick {
  width: 30px;
  height: 350px;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: -1;
}

.red {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background-color: red;
}

.yellow {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background-color: yellow;
}

.green {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background-color: green;
}

.selected {
  box-shadow: 0px 0px 50px 15px #f8ffba;
}

.buttons-div {
  margin-top: 15px;
}

.purple {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background-color: purple;
}
